[tool.poetry]
name = "lightswitch_kr"
version = "0.1.4"
description = "A simple SDK for your API"
authors = ["sumtuckyi <sumin510@naver.com>"]
readme = "README.md"
license = "MIT"
packages = [
  {include = "lightswitch"},
]

[tool.poetry.dependencies]
python = "^3.9"
sseclient = "^0.0.27"
requests = "^2.31.0"
urllib3 = "^2.2.1"

[tool.poetry.dev-dependencies]
pytest = "^7.2.1"

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
flake8 = "^7.0.0"

[tool.black]
line-length = 88
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.flake8]
ignore = "E203, E501, W503"
max-line-length = 88
exclude = ".git,__pycache__,docs/,old/,build/,dist/"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


